Werkzeug   # 1.0.1
apns2      # 0.4.1
Flask      # 1.1.2
xmltodict  # 0.12.0
jpush      # 3.3.8

pycryptodome  # 3.14.1
base58        # 1.0.3
ecdsa         # 0.16.1

redis      # 3.5.3
greenlet   # 1.1.2
gevent     # 21.8.0
sysv-ipc   # 1.1.0

ipx==0.2.2

startrek==0.4.1
tcp==0.4.1
udp==0.5.10
stun==0.2.3
dmtp==0.3.4

mkm==0.12.7
dkd==0.12.7
dimp==0.12.8
dimsdk==0.8.5
dimplugins==0.1.4
dimples==0.1.7
