<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DIMP Client" />
    <meta name="author" content="Albert Moky" />
    <title>DIM Demo</title>

    <!--  third party cryptography libs  -->
    <script src="https://dimchat.github.io/demo/js/3rd/crypto.js"></script>
    <script src="https://dimchat.github.io/demo/js/3rd/jsencrypt.js"></script>
    <script src="https://dimchat.github.io/demo/js/3rd/jquery-1.8.3.min.js"></script>
    <script src="https://dimchat.github.io/demo/js/3rd/underscore-1.8.2.min.js"></script>

    <!--  DIM SDK  -->
    <script src="https://dimchat.github.io/demo/js/dimsdk.js"></script>
    <script src="https://dimchat.github.io/demo/js/client.js"></script>

    <script src="https://dimchat.github.io/demo/js/config.js"></script>

    <link href="https://dimchat.github.io/demo/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
    <div id="panel-shell">
        <div class="output-view">
            <p>Welcome to DIM network!</p>
            <div>Type "help" for more information.</div>
        </div><br />
        <div class="shell-view">
            <span class="prompt">$</span>&nbsp;<span class="input"><span class="left"></span><span class="cursor blink">&nbsp;</span><span class="right"></span></span>
        </div>
    </div>
</div>
</body>
<script src="https://dimchat.github.io/demo/js/console.js"></script>
<script src="https://dimchat.github.io/demo/js/app.js"></script>
<script src="https://dimchat.github.io/demo/js/index.js"></script>
</html>
