<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DIMP Client" />
    <meta name="author" content="Albert Moky" />
    <title>DICQ 2020 - DIM demo</title>
</head>
<body>
<script>
    window.onerror = function (msg, url, line, column, error) {
        if (window['Bubble']) {
            var bubble = new Bubble();
            bubble.showText(msg);
        } else {
            var text = url + '[' + line + ']: ' + msg;
            alert(text);
        }
    };
</script>
<script>
    var base = window.location.href.replace('dicq.html', '');
    var url = base + 'connect.js';

    !function (w, d, t, l) {

        var b = 'http://terminal.dim.chat/',
            j = function (u,b) {w[t].importJS(u,b)},
            e = 'onreadystatechange',
            x = d.createElement('SCRIPT'),
            f = function() {
                var _ = this.readyState;
                if (!_ || _ === 'loaded' || _ === 'complete') {
                    j(b + 'DICQ/js/index.js', function () {
                        dicq.loader.importJS(l);
                    });
                }
            };
        x.src = b + 'Tarsier/tarsier.min.js';
        (typeof x[e] == 'undefined') ? x.onload = f: x[e] = f;
        d.getElementsByTagName('HEAD')[0].appendChild(x);

    }(window, document, 'tarsier', url);

    // javascript:!function(w,d,t,l){var b="http://terminal.dim.chat/",j=function(u,b){w[t].importJS(u,b)},e="onreadystatechange",x=d.createElement("SCRIPT"),f=function(){var _=this.readyState;if(!_||_==="loaded"||_==="complete"){j(b+"DICQ/js/index.js",function(){dicq.loader.importJS(l)})}};x.src=b+"Tarsier/tarsier.min.js";(typeof x[e]=="undefined")?x.onload=f:x[e]=f;d.getElementsByTagName("HEAD")[0].appendChild(x)}(window,document,"tarsier","http://terminal.dim.chat/DICQ/connect.js");
</script>
</body>
</html>
