<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DIMP Client" />
    <meta name="author" content="Albert Moky" />
    <title>DTerm 2020 - DIM demo</title>
</head>
<body>
<script>
    window.onerror = function (msg, url, line, column, error) {
        var text = url + '[' + line + ']: ' + msg;
        alert(text);
    };
</script>
<script>
    var base = 'http://dimchat.github.io/apps/DTerm/';
    // var base = window.location.href.replace('index.html', '');
    var url = base + 'js/index.js';

    !function (w, d, t, l) {
        var c = function () {w[t].importJS(l)},
            e = 'onreadystatechange',
            x = d.createElement('SCRIPT'),
            f = function() {
                var s = this.readyState;
                if (!s || s === 'loaded' || s === 'complete') {
                    c(l);
                }
            };
        // x.src = 'http://moky.github.io/Tarsier/build/tarsier.min.js';
        x.src = 'http://terminal.dim.chat/Tarsier/tarsier.min.js';
        (typeof x[e] == 'undefined') ? x.onload = f: x[e] = f;
        d.getElementsByTagName('HEAD')[0].appendChild(x);

    }(window, document, 'tarsier', url);

    // javascript:!function(w,d,t,l){var c=function(){w[t].importJS(l)},e="onreadystatechange",x=d.createElement("SCRIPT"),f=function(){var s=this.readyState;if(s==null||s=="loaded"||s=="complete"){c(l)}};x.src="http://moky.github.io/Tarsier/build/tarsier.min.js";(typeof x[e]=="undefined")?x.onload=f:x[e]=f;d.getElementsByTagName("HEAD")[0].appendChild(x)}(window,document,"tarsier","http://dimchat.github.io/apps/DTerm/js/index.js");
</script>
</body>
</html>
