<h2>Post message info:</h2>
<form method="post" action="verify">
    Sender: <br/>
    <input type="text" name="sender" size="64" value="moki@4WDfe3zZ4T7opFSi3iDAKiuTnUHjxmXekk" /><br/>
    <br/>
    Data(Base64): <br/>
    <textarea name="data" cols="64" rows="8" >lUsQy4JnDBNd26TZbXbw4b9LQ9tekhRAY4aBdJDPGiXRQk4lPWOzkSMmNhHM/wzGY0nga2g2k3QnwoeKg5rbx2cD2q9rqaObCVnCwMucP70=</textarea><br/>
    <br/>
    Signature(Base64): <br />
    <textarea name="signature" cols="64" rows="8" >s2F61qZ8M2IT0yfcuy81GioiAAhyQ4pUqENlgrefad3Q9jXnGZR070JlN4H4LbZZw4TzkpLDbUf/nD+YcJZjqn9Xlprno5Ng9Taibw5PiEMWyqL76Rz5dQg8YAM+EoPFJpR0e/wsi3L/qmAZf34J0UrAcO3W37Tjeh2h9IbzSVQ=</textarea><br/>
    <input type="submit" value="Submit" />
</form>
