
a {
    text-decoration-line: none;
    color: blue;
    padding: 4px 8px;
}
a:hover {
    text-decoration-line: underline;
    background-color: wheat;
    color: darkblue;
}

span {
    word-wrap: break-word;
    word-break: break-all;
}

#appName {
    margin: 8px 0;
    font-size: 22px;
}

#myAccount {
    margin: 8px 0;
}
#myAccount Button {
    font-size: 18px;
    border: 0;
    color: white;
    background-color: transparent;
}
#myAccount Button:hover {
    text-decoration-line: underline;
}

/**
 *  Outlines
 */

.outlines {
    padding: 16px;
}

.user {
    padding: 16px 8px;
    border-top: 1px dashed #e0e0f5;
}

.user .desc {
    color: gray;
    padding: 8px 32px;
}

#headlines {
    padding: 16px;
}

#headline_template {
    display: none;
}

/**
 *  User Home
 */

.desc {
    padding: 4px 16px;
}

.messages {
    padding: 16px;
}

.msg {
    padding: 16px 8px;
    border-top: 1px dashed #e0e0f5;
}

.msg .timestamp {
    float: right;
}

.msg .desc {
    color: gray;
    padding: 8px 32px;
}

/**
 *  Message Detail
 */

.sender, .time, .content {
    padding: 4px 16px;
}

.content .text {
    padding: 4px 16px;
}

.comments {
    margin-top: 16px;
    border-top: 1px dashed #e0e0f5;
    padding: 16px 32px;
}
