
body {
    margin: 0;
    background: -moz-linear-gradient(top, #57A1CE 0%, #99DDFF 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #57A1CE), color-stop(100%, #99DDFF));
    background: -webkit-linear-gradient(top, #57A1CE 0%, #99DDFF 100%);
    background: -o-linear-gradient(top, #57A1CE 0%, #99DDFF 100%);
    background: -ms-linear-gradient(top, #57A1CE 0%, #99DDFF 100%);
    background: linear-gradient(to bottom, #57A1CE 0%, #99DDFF 100%);
}

.layout_wrapper {
    margin: 0 auto;
    padding: 0;
}

.layout_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    background: -moz-linear-gradient(top, #89CDED 0%, #57A1CE 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #89CDED), color-stop(100%, #57A1CE));
    background: -webkit-linear-gradient(top, #89CDED 0%, #57A1CE 100%);
    background: -o-linear-gradient(top, #89CDED 0%, #57A1CE 100%);
    background: -ms-linear-gradient(top, #89CDED 0%, #57A1CE 100%);
    background: linear-gradient(to bottom, #89CDED 0%, #57A1CE 100%);
}

.layout_footer {
    margin-top: 4px;
}

.layout_footer .layout_wrapper {
    text-align: right;
    color: white;
}

.layout_footer .copyright {
    padding: 4px 8px;
}

.layout_body {
    margin-top: 64px;
}

.layout_body .layout_wrapper {
    background-color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.layout_left {
    float: left;
}
.layout_right {
    float: right;
}
.layout_clear {
    clear: both;
}

.layout_main {
    border: 0;
    padding: 4px 8px;
}

.layout_panel {
    border: 0;
    padding: 4px 8px;
}
