
body {
    margin: 0;
    background: -moz-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #57A1CE), color-stop(100%, #89CDED));
    background: -webkit-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: -o-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: -ms-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: linear-gradient(to bottom, #57A1CE 0%, #89CDED 100%);
}

.layout_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.layout_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    font-size: 22px;
    background: -moz-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #57A1CE), color-stop(100%, #89CDED));
    background: -webkit-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: -o-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: -ms-linear-gradient(top, #57A1CE 0%, #89CDED 100%);
    background: linear-gradient(to bottom, #57A1CE 0%, #89CDED 100%);
}

.layout_footer {
    height: 32px;
    padding: 4px;
    text-align: right;
    color: white;
}

.layout_body {
    margin-top: 64px;
}

.layout_body .layout_wrapper {
    background-color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.layout_left {
    float: left;
}
.layout_right {
    float: right;
}
.layout_clear {
    clear: both;
}

.layout_main {
    float: left;
    width: 623px;
    border: 0px;
    border-right: 1px dashed #e0e0f5;
    padding: 4px 8px;
}

.layout_panel {
    float: right;
    width: 303px;
    border: 0px;
    border-left: 1px dashed #e0e0f5;
    padding: 4px 8px;
}
